body {
  background: #0f172a;
  font-family: Arial;
  color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.app {
  width: 100%;
  max-width: 400px;
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

input, button {
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  border-radius: 6px;
  border: none;
}

button {
  background: #22c55e;
  font-size: 16px;
}

#result {
  margin-top: 15px;
  font-size: 18px;
}
